

td.pageHeader {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 140%;
	padding: 0.5em;
	background-color: lightgrey;
}

tr.pageHeader {
	margin-bottom: 1em;
}

td.leftBar {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 85%;
	white-space: nowrap;
	padding-top: 12pt;
}

td.pageContent {
	padding-left: 1em;
	padding-top: 12pt;
	padding-bottom: 1em;
}

td.pageFooter {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 75%;
	white-space: nowrap;
	text-align: center;
	padding: 1em;
	border-top: 1px solid black;
}
