
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

div.sansSerif {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

div.mono {
	font-family: Monaco, Courier New, Courier, mono;
	font-size: 9pt;
}

pre {
	font-family: Monaco, Courier New, Courier, mono;
	font-size: 9pt;
}

div.heading {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-weight: bold;
	font-size: 11pt;
}

table {
	font-size: 10pt;
}

div.typeDecl {
	padding-top: 2em;
}

span.bdn {
	/* box declaration name. As in class Foo, interface Foo and struct Foo where the name is "Foo" */
	color: blue;
}

span.kwpa {
	/* key word - pass */
	color: #700;
}

span.kwsh {
	/* key word - shared */
	color: #700;
}

span.kwtd {
	/* key word - type declaration */
	color: red;
}

span.kwmd {
	/* key word - member declaration */
	color: #700;
}

span.ds {
	/* doc string */
	color: #080;
}
