
body {
	color: black;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
}

.compilationSucceeded {
	color: blue;
}

.compilationFailed {
	color: red;
}

tr.error {
	vertical-align: top;
	color: red;
}

tr.warning {
	vertical-align: top;
	color: black;
}

tr.headings {
	font-style: italic;
}

td.lineNum {
	text-align: right;
}

td.message {
}
