body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

div.header {
}

	div.header .title {
		background-color: #000;
		border-bottom: 1px solid black;
		color: white;
		font-family: Menlo, Monaco, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
		font-size: 24px;
		font-weight: bold;
		padding: 19px;
	}

	div.header .cobra {
		background-color: #7ee;
		font-size: 12px;
		padding: 10px 20px 10px 20px;
	}

		div.header .cobra a {
			color: black;
			text-decoration: none;
		}
		div.header .cobra a:link {
		}
		div.header .cobra a:visited {
		}
		div.header .cobra a:hover {
			text-decoration: underline;
		}
		div.header .cobra a:active {
			text-decoration: underline;
		}


div.content {
	margin: 10px;
}


div.footer {
	margin-top: 15px;
	padding-bottom: 30px;
	background-color: #777;
	border-top: 1px solid black;
}


div.heading {
	color: #00a;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0 5px 0;
}

div.left {
	float: left;
	margin: 0 10px 0 0;
}

div.clear {
	clear: both;
}

table {
}

	table.object {
		margin: 1em 0;
	}

	tr.r0 td {
		background-color: #e6e6e6;
	}

	tr.r1 td {
		background-color: #f2f2f2;
	}

	td {
		padding: 5px;
		vertical-align: top;
	}

	td.heading {
		background-color: #000;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}

	td.source {
		background-color: #f2f2f2;
		font-style: italic;
	}

	td.k {
		font-weight: bold;
		white-space: nowrap;
	}

	td.v {
		line-height: 17px;
	}

span.box-pair-member {
	white-space: nowrap;
	padding-right: 4px;
}

span.box-pair-param {
	font-style: italic;
	font-size: 11px;
}
