pre.shl {  /* syntax highlighting */
	background-color: #FFFFFF;
}

span.shl-c {  /* comment */
	color: #559;
	font-style: italic;
}


span.shl-di {  /* directive */
	color: #E12;
	font-weight: bold;
}

span.shl-tdn {  /* type declaration name. As in class Foo, interface Foo and struct Foo where the name is "Foo" */
	color: #1A0;
	font-weight: bold;
}

span.shl-mdn {  /* member declaration name. As in "def foo" where "foo" is the name */
	color: #800;
	font-weight: bold;
}

span.shl-pn {  /* parameter name. */
	font-style: italic;
}

span.shl-pt {  /* parameter type. int String List<of T> Point */
	color: #079;
}

span.shl-rt {  /* return type of a member decl. int String List<of T> Point */
	color: #079;
}

span.shl-kw {  /* key word */
	color: #000;
	font-weight: bold;
}

span.shl-kw-td {  /* key word - type declaration. class interface etc. */
	color: #A00;
}

span.shl-kw-md {  /* key word - member declaration. def get set etc. */
	color: #000;
	font-weight: bold;
}

span.shl-kw-b {  /* key word - base */
	color: #000;
	font-weight: bold;
}

span.shl-kw-t {  /* key word - this */
	color: #A00;
}

span.shl-kw-s {  /* key word - special. true false nil this base */
	color: #A00;
/*	font-weight: bold;*/
}

span.shl-ds {  /* doc string */
	color: #37d;
}

span.shl-lc {  /* literal char */
	color: #A00;
}

span.shl-ld {  /* literal decimal */
	color: #A00;
}

span.shl-lf {  /* literal float */
	color: #A00;
}

span.shl-lfr {  /* literal fractional */
	color: #A00;
}

span.shl-li {  /* literal integer */
	color:#A00;
}

span.shl-ls {  /* literal string */
	color: #B83;
}

span.shl-lslb {  /* literal string left brack: [ */
	color: #707;
}

span.shl-lsrb {  /* literal string right bracket: ] */
	color: #707;
}

span.shl-spf {  /* string-part-format as in :N2 */
	color: #A73;
}

span.shl-i {  /* identifier */
	color: #000;
}

span.shl-op {  /* operator */
}
