pre.shl {  /* syntax highlighting */
	background-color: #FFFFFF;
}

span.shl-c {  /* comment */
	color: #888;
	font-style: italic;
}


span.shl-di {  /* directive */
	color: #E12;
	font-weight: bold;
}

span.shl-bdn {  /* box declaration name. As in class Foo, interface Foo and struct Foo where the name is "Foo" */
	color: #37D;
	font-weight: bold;
}

span.shl-kw {  /* key word */
	color: #000;
	font-weight: bold;
}

span.shl-kw-td {  /* key word - type declaration */
	color: red;
}

span.shl-kw-md {  /* key word - member declaration */
	color: #000;
	font-weight: bold;
}

span.shl-kw-s {  /* key word - special. true false nil this base */
	color: #559;
	font-weight: bold;
}

span.shl-ds {  /* doc string */
	color: #A73;
}

span.shl-lc {  /* literal char */
	color: #A00;
}

span.shl-li {  /* literal integer */
	color:#A00;
}

span.shl-ls {  /* literal string */
	color: #A73;
}

span.shl-i {  /* identifier */
	color: #000;
}

span.shl-op {  /* operator */
}
