body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.heading {
    color: #00a;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
}
tr.r0 td {
    background-color: #e6e6e6;
}
tr.r1 td {
    background-color: #f2f2f2;
}
td {
    padding: 5px;
	vertical-align: top;
}
td.k {
    font-weight: bold;
}
td.v {
}
div.header {
	border: 1px solid black;
}
div.header .title {
	background-color: #00a;
	border-bottom: 1px solid black;
	color: white;
	font-family: Menlo, Monaco, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", "Courier", monospace;
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
}
div.header .cobra {
	background-color: #ff7;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
}
div.header .cobra a {
	color: black;
	text-decoration: none;
}
div.header .cobra a:link {
}
div.header .cobra a:visited {
}
div.header .cobra a:hover {
	text-decoration: underline;
}
div.header .cobra a:active {
	text-decoration: underline;
}
